/* Color Variables */
:root {
    --primary: #2563eb;
    --secondary: #3b82f6;
    --accent: #60a5fa;
    --background: #eff6ff;
    --surface: #fbfcfc;
    --text: #1e293b;
    --border: #cbd5e1;
    --hover: #1d4ed8;
}

/* nav {
    background-color: var(--primary);
    padding: 18px;
    text-align: center;
}

nav a {
    color: var(--surface);
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 8px;
    border-radius: 6px;
    border: 3px solid transparent;
    transition: 0.3s;
}

nav a[href="#"] {
    background-color: var(--background);
    color: var(--primary);
    font-weight: bold;
}

nav a:hover {
    border-color: var(--accent);
} */

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

/* form {
    width: 340px;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--surface);
    border-radius: 16px;
    border: 1px solid var(--border);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    box-sizing: border-box;
}

label {
    text-align: left;
    color: var(--text);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary);
    color: var(--surface);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover);
}

p {
    text-align: center;
    color: var(--primary);
    font-size: 14px;
}

h1 {
    text-align: center;
    color: var(--primary);
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
} */

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

table a {
    color: var(--primary);
    text-decoration: none;
}

th,
td {
    padding: 12px;
    border: 1px solid var(--border);
    text-align: center;
}

th {
    background-color: var(--primary);
    color: var(--surface);
}

td {
    background-color: var(--surface);
}

.num {
    text-align: right;
}

tr {
    cursor: pointer;
}

tr:hover td {
    background-color: #EEEEEE;
}